@font-face {
  font-family: Beckman-Heavy;
  src:url(Fonts/Beckman-Heavy.otf);
}

@font-face {
  font-family: Forest-1;
  src:url(Fonts/Forest-1.ttf);
}

::-webkit-scrollbar {
  display: none;
}

a {text-decoration: none;}


menu
{
  margin-top: 0px;
}

footer
{
  z-index: 6;
  height: 70px;
  left: 40px; bottom: 0;
  position: fixed;
}

/* header */
.Lg
{
  margin-left: 30px;
  margin-top: 10px;
}
.Lg3
{
  margin-top: 10px;
  margin-left: -10px;
}
.Lg1
{
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  margin-left: 10px;
  font-size: 2rem;
}


.EmailTel
{
  /* font-family: "Beckman-Heavy"; */
  margin-top: 35px;
  margin-right: 40px;
  z-index: -1;
  color: #ffffff;
  font-size: 1.4rem;
}

.MenuBtn
{
  background-image: url(img/Menu.png);
  cursor: pointer;
  width: 2rem;
  height: 2rem;
}

/* Menu */
@media screen and (min-device-width: 1024px) {
  .BackGrHeader
  {
    background: url(img/1.jpg) no-repeat;
    /* width: 100%; */
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 60rem;
    z-index: -1;
  }
}

@media screen and (max-device-width: 1024px) {
  .BackGrHeader
  {
    background: url(img/1.jpg) no-repeat;
    /* width: 100%; */
    background-position: center;
    background-size: cover;
    height: 60rem;
    z-index: -1;
  }
}



.FixPos
{
  z-index: 1;
  position: fixed;
}

.Menu
{
  background-color: hsla(0, 0%, 18%, 0.8);
  margin-left: -980px;
  height: 105vh;
  transition-duration: 1.5s;
}

.li-el
{
  margin-top: 16px;
  transition-duration: 0.25s;
}

.Menu-el
{
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-size: 2rem;
  transition-duration: 0.25s;
}

.li-el:hover
{
  transform: translateX(5px);
  /* background-color: #ffffff; */
  width: 98.5%;
}

.Menu-el:active
{
  color: #f65100;
}
.Menu-el:hover
{
  color: #f65100;
}

.HedorInfo
{
  color: #ffffff;
}

.CompanyTeam
{
  font-family:"Forest-1";
}
.TeamSl
{
  font-family:'Beckman-Heavy';
  letter-spacing: 15.5px;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, 850%); */
}
/* Specialization-elements */
.SpecializationBackGround{
  background: url(img/2.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 70rem;
  z-index: -1;
  padding-top: 15rem;
}

.Specialization
{
    color:#ffffff;
    font-family: Bahnschrift;
}
.SpecializationNumber
{
  font-famiяly: Segoe UI;
  background: linear-gradient(120deg, #e97529 26%, #9a3768 56%);
  -webkit-background-clip: text;
  color: transparent;
  display: table-cell;
  /* background-clip: text; */
}

.SpecHeadCol
{
  color:#e97529;
}
.card-text
{
  color:#7f7f7f;
  font-size:1.4rem;
}

.indentation
{
  margin-top: 30px;
}


/* footer-elements */
.social-web
{
  margin-left: 1.5px;
  cursor: pointer;
}
